{% extends 'main/layout.html' %}

{% block title %} Was ist Website-Usability? {% endblock %}


{% block content %}

<div class="text-content" >
   <h1> Was ist Website-Usability? </h1>
			<div class="text_border"><br>
                <div class="desc">
                    <p>
                        <strong>Website-Usability</strong> ist die Benutzerfreundlichkeit. Usability besteht aus mehreren Komponenten:
                    </p>
                    <ul>
                        <li><span>Einfachheit - wie einfach es für neue Website-Besucher ist, elementare Aktionen auszuführen; Design, Anzeigen, Pop-ups usw. stören sie nicht.</span></li>
                        <li><span>Effektivität des Website-Designs - wie schnell der Benutzer auf der Website navigiert und die von ihm benötigten Aktionen ausführt;</span></li>
                        <li><span>Bequemlichkeit der Arbeit mit der Struktur und Navigation der Website;</span></li>
                        <li><span>Die Qualität der Arbeit jeder Stufe des Site-Trichters. Für einen Online-Shop ist dies die Arbeit des Katalogs, der Produktkarten, der Warenkorbseite und der Kasse usw.</span></li>
                    </ul><br>
                    <p>
                        Die Benutzerfreundlichkeit der Site wird von Usability-Experten bewertet. Das Ergebnis einer solchen Bewertung ist ein Audit, das nicht nur die Fehler des Systems beschreibt, sondern auch Vorschläge zu deren Lösung.
                    </p>
                    <p>
                        Usability ist für jede Art von Website sehr wichtig. Die Arbeit mit Benutzerfreundlichkeit ermöglicht es dem Benutzer, die Site zu "lieben" - wenn es bequem und verständlich ist, wird der Benutzer ständig darauf zurückkommen.
                    </p><br>
                    <h2>Worauf sollten Sie achten?</h2><br>
                    <ul>
                        <li><span>Einfachheit der Schnittstelle</span></li>
                        <li><span>Benutzerfreundlichkeit der Website</span></li>
                        <li><span>Einprägsames Design</span></li>
                        <li><span>Vorhandensein, Anzahl und Schwere der Fehler</span></li>
                        <li><span>Die Benutzerzufriedenheit - ein subjektiver Parameter.</span></li>
                    </ul>
                
                    Natürlich ist es unmöglich zu erraten, was der Benutzer braucht. Daher ist es notwendig, mit Split-Tests und Fokusgruppen zu recherchieren.
			    </div>
            </div>
</div>

{% endblock %}