{% extends 'main/layout.html' %}


{% block title %} {{ title }} {% endblock %}


{% block content %}
    <div class="who-is-we">
        <h1>IT Bad - unser Antibags</h1>
        <div class="description-of-firm">
            <p>Das Ziel der Gründung IT Bad ist Analyse und Verbesserung digital Content.</p>

            <br><br><br>
            <div class="grund-firm">
            <h5>Darin liegt:</h5>
            <ul>
            <li><span>Modernisierung von Design oder Software für Webseiten</span></li>
                <li><span>Prüfung der Informationssicherheit</span></li>
                    <li><span>Testung von Programmen</span></li>
            </ul>
        </div>
    </div>




    </div>


{% endblock %}
